<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Internal Telemetry</h1>
    <table class="table">
      <thead class="thead-light">
        <th scope="col">SOURCE</th>
        <th scope="col">TIMESTAMP</th>
        <th scope="col">CSSDS_STREAMID</th>
        <th scope="col">CSSDS_SEQUENCE</th>
        <th scope="col">CSSDS_SECONDS</th>
        <th scope="col">CSSDS_SUBSECS</th>
        <th scope="col">TIME_STRING</th>
        <th scope="col">CALL_SIGN</th>
        <th scope="col">PACKET_ID</th>
        <th scope="col">TLM_DELAY</th>
        <th scope="col">PWR_TLM</th>
        <th scope="col">ADCS_TLM</th>
        <th scope="col">EXP_TLM</th>
        <th scope="col">CMD_TIMEOUT</th>
        <th scope="col">PAD</th>
      </thead>
      <tbody>
        <% entries.each do |e| %>
        <tr>
          <td><%= e.source_ip %></td>
          <td><%= e.created_at %></td>
          <td><%= e.packet_identifier %></td>
          <td><%= e.packet_sequence_counter %></td>
          <td><%= e.tlm_seconds %></td>
          <td><%= e.tlm_subseconds %></td>
          <td><%= e.time_string %></td>
          <td><%= e.simulator_call_sign %></td>
          <td><%= e.packet_id %></td>
          <td><%= e.delay_in_seconds %></td>
          <td><%= e.power_board_telemetry %></td>
          <td><%= e.adcs_board_telemetry %></td>
          <td><%= e.experiment_board_telemetry %></td>
          <td><%= e.command_timeout %></td>
          <td><%= e.padding %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
